{% extends 'main.html' %}

{% block content%}

<img style = "max-width: 200px" src="{{ project.featured_image.url }}">
    
<h1>The ID of this project is {{ project.id }}</h1>
    <h2>Below are project details:</h2>
    <ul>
        <li>The title of this project is: {{ project.title }}</li>
        <li>The description of this project is: {{ project.description }}</li>
    </ul>
    <br>
    <hr>
    <h2>
    {% for tag in project.tag.all %}
        {{ tag }}
    {% endfor%}
    </h2>
    <hr>

{% endblock content %}