{% extends 'main.html' %}
{% load static %}
{% block content %}

<body>
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/icon.svg' %}" alt="icon" />
          </a>
          <h3>Enter new password</h3>
            <br>
            <p>Please enter your new password twice, so we can verify you typed it in correctly.</p>
        </div>

          <form method="POST" class="form">
            {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#password">New password: </label>
            <input class="input input--password"
                   id="formInput#passowrd"
                   type="password"
                   name="password"
                   placeholder="••••••••"
            />
              <label for="formInput#password">Confirm password: </label>
              <input class="input input--password"
                     id="formInput#passowrd"
                     type="password"
                     name="password"
                     placeholder="••••••••"
              />
          </div>

          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Reset password" />
          </div>
        </form>
      </div>
    </div>
  </body>

{% endblock content %}